.container {
  min-height: 100vh;
}

.container main {
  overflow-y: scroll;
}

.header {
  padding: 20px 12px;
}

/* Hero Section */
.hero-container {
  background-image: url(/assets/images/home_background.png);
  background-size: cover;
  min-height: 100vh;
  color: #11253E;
}
.hero-title {
  margin: 75px auto 30px;
  max-width: 980px;
  text-align: center;
  font-size: 82px;
  font-weight: bold;
}
.hero-subtitle {
  font-size: 30px;
  max-width: 800px;
  text-align: center;
  margin: auto;
}
.hero-subtitle-highlight {
  color: #F41D00;
  font-weight: 600;
}
.hero-btn-container {
  text-align: center;
  margin-top: 40px;
}
.hero-btn {
  height: 48px;
  width: 363px;
  background-color: #11253E;
  color: white;
  font-size: 22px;
  border-color: #11253E;
  border-radius: 4px;
}

/* Cards Section */
.cards-section {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0 20px;
}
.card {
  background-color: rgba(220, 235, 244, 0.6);
  padding: 32px;
  box-shadow: 0px 0px 25px 5px rgba(85, 85, 85, 0.05);
  border-radius: 26px;
}
.card-img {
  text-align: center;
  margin-bottom: 40px;
}
.card-title {
  font-size: 22px;
  font-weight: 600;
  color: black;
  margin-bottom: 22px;
}
.card-description {
  font-size: 20px;
}

/* Footer */
.footer {
  background: linear-gradient(87.23deg, #FAF2EF 1.05%, #CFE8F6 98.21%);
  transform: rotate(-180deg);
}
.footer-content {
  padding: 50px 0;
  margin: 0 20px;
  border-bottom: 1px solid rgba(25, 37, 145, 0.2);
}
.footer-copyright {
  padding: 12px 0;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media-icon {
  font-size: 32px;
}